version: "3.8"

services:
  db:
    image: postgres
    restart: unless-stopped
    environment:
      - POSTGRES_PASSWORD=8Fny?aXEFkh9ePA3
    volumes:
      - "postgres-data:/var/lib/postgresql/data/"
  redis:
    restart: unless-stopped
    image: redis:7.0.5-alpine
    ports:
      - "6379:6379"

  ekila-streams:
    build:
      context: .
      dockerfile: Dockerfile
    image: ekilastreams-back:1.0
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
    volumes:
      - .:/app
      - "staticfiles-data:/var/www/static"
      - "media-data:/var/www/media"
    depends_on:
      - db
      - redis
    ports:
      - "8030:8030"

volumes:
  postgres-data:
  staticfiles-data:
  media-data:
